.navbar
{
    background-color: black;
    padding: 1rem;
    height: 3rem;
    width: 100%;
    position: fixed;
    top: 0;
}

.whoami
{
    grid-column: 2;
    margin-top: 12rem;
    text-align: center;
}

.portrait
{
    grid-column: 1;
    margin: 1rem;
}

#home 
{
    margin: 8rem;
    display: inline-grid;
    grid-gap: 20px;
    font-size: 20px;
}

#skills
{
    margin: 8rem;
    margin-top: 16rem;
    font-size: 20px;
}


#experiences
{
    margin: 8rem;
    margin-top: 16rem;
    font-size: 20px;
}

#contacts
{
    margin: 8rem;
    margin-top: 16rem;
    margin-bottom: 3rem;
    font-size: 32px;
    width: 100%;
}

#contact_info
{
    display: grid;
    grid-template-columns: 10%  40% 25% 25%;
}

.centered
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.contact_title
{
    text-align: center;
}
.contact_addresses
{
    grid-column: 2;
    text-align: right;
}
.social_links
{
    border-left: 10px black solid;
    grid-column: 3;
}

.social_link > a
{
    text-decoration: none;
    color: black;
    font-size: 28px;
}

.social_link 
{
    
    margin: 0.5rem;
}

a.anchor {
    display: block;
    position: relative;
    top: -6rem;
    visibility: hidden;
    width: 0;
}

ul.navbar-buttons
{
    list-style-type: none;
}

ul.navbar-buttons > li
{
    padding: 1rem;
    display: inline;
}

ul.navbar-buttons > li > a
{
    color: white;
    text-decoration: none; 
}

.font_sora
{
    font-family: "Sora", sans-serif;
}

.font_secular_one
{
    font-family: "Secular One", sans-serif;
}

.font_staatliches
{
    font-family: "Staatliches", sans-serif;
}

body 
{
    margin: 0%;
    min-height: 100%;
    width: 100%;
}